<a href="https://colab.research.google.com/github/hyejeong14/BigdataAnalysisTest/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EB%B6%84%EC%84%9D%EC%8B%A4%EC%8A%B5penguins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

fatal: destination path 'yemoonsaBigdata' already exists and is not an empty directory.

In [3]:
X_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/penguin_X_test.csv')
X_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/penguin_X_train.csv')
y_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/penguin_y_train.csv')

In [4]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.4+ KB

In [5]:
train = pd.concat([X_train,y_train],axis=1)
print(train.loc[(train.sex.isna())|(train.bill_length_mm.isna())|(train.bill_depth_mm.isna())|(train.flipper_length_mm.isna())])

    species     island  sex  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen  NaN            42.0           20.2              190.0
6    Gentoo     Biscoe  NaN            44.5           14.3              216.0
43   Gentoo     Biscoe  NaN             NaN            NaN                NaN
66   Adelie  Torgersen  NaN            37.8           17.3              180.0
88   Gentoo     Biscoe  NaN            47.3           13.8              216.0
89   Adelie  Torgersen  NaN            37.8           17.1              186.0
110  Gentoo     Biscoe  NaN            44.5           15.7              217.0
229  Adelie  Torgersen  NaN             NaN            NaN                NaN

     body_mass_g
0         4250.0
6         4100.0
43           NaN
66        3700.0
88        4725.0
89        3300.0
110       4875.0
229          NaN

In [6]:
train = train.dropna()
train.reset_index(drop=True,inplace=True)
train

,species,island,sex,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
0,Gentoo,Biscoe,FEMALE,43.5,15.2,213.0,4650.0
1,Adelie,Torgersen,MALE,42.8,18.5,195.0,4250.0
2,Chinstrap,Dream,MALE,53.5,19.9,205.0,4500.0
3,Gentoo,Biscoe,MALE,50.2,14.3,218.0,5700.0
4,Adelie,Dream,FEMALE,36.5,18.0,182.0,3150.0
...,...,...,...,...,...,...,...
227,Chinstrap,Dream,FEMALE,46.6,17.8,193.0,3800.0
228,Gentoo,Biscoe,MALE,49.8,15.9,229.0,5950.0
229,Adelie,Torgersen,FEMALE,34.6,17.2,189.0,3200.0
230,Chinstrap,Dream,FEMALE,45.9,17.1,190.0,3575.0
231,Gentoo,Biscoe,FEMALE,41.7,14.7,210.0,4700.0

In [7]:
X_train=train[['species','island','sex','bill_length_mm','bill_depth_mm','flipper_length_mm']]
y_train = train[['body_mass_g']]

In [8]:
X_train.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

In [9]:
COL_DEL=[]
COL_NUM=['bill_length_mm','bill_depth_mm','flipper_length_mm']
COL_CAT=['species','island','sex']
COL_Y=['body_mass_g']

In [10]:
#라벨 인코딩은 test셋까지 해야함
#스케일링은 train셋만
X=pd.concat([X_train,X_test])
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(handle_unknown='ignore')
#handle_unknown ='ignore' => fit을 한 뒤 transform을 진행할 때 처음 보는 범주가 등장했을 때 무시한다
ohe.fit(X[COL_CAT])

X_train_res = ohe.transform(X_train[COL_CAT])
X_test_res = ohe.transform(X_test[COL_CAT])

In [11]:
print(X_train_res)
print("-"*10)
print(X_test_res)

  (0, 2)	1.0
  (0, 3)	1.0
  (0, 6)	1.0
  (1, 0)	1.0
  (1, 5)	1.0
  (1, 7)	1.0
  (2, 1)	1.0
  (2, 4)	1.0
  (2, 7)	1.0
  (3, 2)	1.0
  (3, 3)	1.0
  (3, 7)	1.0
  (4, 0)	1.0
  (4, 4)	1.0
  (4, 6)	1.0
  (5, 2)	1.0
  (5, 3)	1.0
  (5, 7)	1.0
  (6, 2)	1.0
  (6, 3)	1.0
  (6, 6)	1.0
  (7, 0)	1.0
  (7, 5)	1.0
  (7, 6)	1.0
  (8, 2)	1.0
  :	:
  (223, 6)	1.0
  (224, 2)	1.0
  (224, 3)	1.0
  (224, 7)	1.0
  (225, 0)	1.0
  (225, 4)	1.0
  (225, 7)	1.0
  (226, 1)	1.0
  (226, 4)	1.0
  (226, 7)	1.0
  (227, 1)	1.0
  (227, 4)	1.0
  (227, 6)	1.0
  (228, 2)	1.0
  (228, 3)	1.0
  (228, 7)	1.0
  (229, 0)	1.0
  (229, 5)	1.0
  (229, 6)	1.0
  (230, 1)	1.0
  (230, 4)	1.0
  (230, 6)	1.0
  (231, 2)	1.0
  (231, 3)	1.0
  (231, 6)	1.0
----------
  (0, 0)	1.0
  (0, 5)	1.0
  (0, 7)	1.0
  (1, 2)	1.0
  (1, 3)	1.0
  (1, 7)	1.0
  (2, 0)	1.0
  (2, 3)	1.0
  (2, 7)	1.0
  (3, 0)	1.0
  (3, 4)	1.0
  (3, 6)	1.0
  (4, 2)	1.0
  (4, 3)	1.0
  (4, 6)	1.0
  (5, 0)	1.0
  (5, 4)	1.0
  (5, 7)	1.0
  (6, 0)	1.0
  (6, 5)	1.0
  (6, 6)	1.0
  (7, 0)	1.0
  (7, 3)	1.0
  (7, 6)	1.0
  (8, 1)	1.0
  :	:
  (92, 7)	1.0
  (93, 1)	1.0
  (93, 4)	1.0
  (93, 7)	1.0
  (94, 2)	1.0
  (94, 3)	1.0
  (94, 7)	1.0
  (95, 0)	1.0
  (95, 5)	1.0
  (95, 7)	1.0
  (96, 2)	1.0
  (96, 3)	1.0
  (96, 7)	1.0
  (97, 0)	1.0
  (97, 5)	1.0
  (97, 6)	1.0
  (98, 2)	1.0
  (98, 3)	1.0
  (98, 6)	1.0
  (99, 2)	1.0
  (99, 3)	1.0
  (99, 7)	1.0
  (100, 0)	1.0
  (100, 5)	1.0
  (100, 6)	1.0

In [14]:
#희소행렬을 dataframe로 전환
#todense => 희소행렬을 기본 행렬 형태로 전환
X_train_ohe = pd.DataFrame(X_train_res.todense(), columns=ohe.get_feature_names_out())
X_test_ohe = pd.DataFrame(X_test_res.todense(), columns=ohe.get_feature_names_out())
print(X_train_ohe)

     species_Adelie  species_Chinstrap  species_Gentoo  island_Biscoe  \
0               0.0                0.0             1.0            1.0
1               1.0                0.0             0.0            0.0
2               0.0                1.0             0.0            0.0
3               0.0                0.0             1.0            1.0
4               1.0                0.0             0.0            0.0
..              ...                ...             ...            ...
227             0.0                1.0             0.0            0.0
228             0.0                0.0             1.0            1.0
229             1.0                0.0             0.0            0.0
230             0.0                1.0             0.0            0.0
231             0.0                0.0             1.0            1.0

     island_Dream  island_Torgersen  sex_FEMALE  sex_MALE
0             0.0               0.0         1.0       0.0
1             0.0               1.0         0.0       1.0
2             1.0               0.0         0.0       1.0
3             0.0               0.0         0.0       1.0
4             1.0               0.0         1.0       0.0
..            ...               ...         ...       ...
227           1.0               0.0         1.0       0.0
228           0.0               0.0         0.0       1.0
229           0.0               1.0         1.0       0.0
230           1.0               0.0         1.0       0.0
231           0.0               0.0         1.0       0.0

[232 rows x 8 columns]

In [15]:
X_train_fin = pd.concat([X_train[COL_NUM],X_train_ohe],axis=1)
X_test_fin=pd.concat([X_test[COL_NUM],X_test_ohe],axis=1)

In [16]:
from sklearn.model_selection import train_test_split

X_tr,X_val,y_tr,y_val = train_test_split(X_train_fin,y_train,test_size=0.3)

In [18]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_tr[COL_NUM])
X_tr[COL_NUM]=scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM]=scaler.transform(X_val[COL_NUM])
X_test_fin[COL_NUM]=scaler.transform(X_test_fin[COL_NUM])

In [19]:
from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X_tr,y_tr)
y_val_pred=modelLR.predict(X_val)
print(y_val_pred)

[[229012.93669826]
 [195270.64745632]
 [226949.54632429]
 [202991.71806701]
 [194252.37442316]
 [220169.51008378]
 [213530.29840953]
 [224899.76980059]
 [208861.17826378]
 [208066.13702771]
 [228981.34061732]
 [225721.4695698 ]
 [214296.74665167]
 [200196.79790208]
 [220188.65394154]
 [213127.64279884]
 [199003.98440644]
 [203968.62199484]
 [203943.83049019]
 [234507.47798782]
 [203308.83776989]
 [201692.30643519]
 [244515.99959752]
 [212184.28179426]
 [223616.74561971]
 [225192.11351612]
 [204506.2480917 ]
 [221436.41331558]
 [196284.97991727]
 [230229.10293449]
 [198536.25698004]
 [230009.78680435]
 [202731.62962647]
 [197471.38885021]
 [210530.66343645]
 [230526.29201639]
 [219704.48680143]
 [195512.70544343]
 [239491.02156888]
 [239963.36098767]
 [207438.14812059]
 [208443.03878004]
 [200888.56639272]
 [207901.06137457]
 [197668.29101513]
 [228181.39267615]
 [186007.96581329]
 [209268.06680923]
 [211285.505261  ]
 [195706.59908572]
 [233263.81904601]
 [203040.11780425]
 [224661.43318809]
 [242875.09803082]
 [203427.86698306]
 [213600.31646307]
 [233450.87990117]
 [196148.83678296]
 [236495.67069644]
 [235775.43154155]
 [212072.97987018]
 [215097.55995924]
 [221912.65777738]
 [198405.70119962]
 [205769.44551738]
 [202806.72642035]
 [202640.81958909]
 [240221.61359369]
 [197932.1373687 ]
 [227318.58929425]]

In [21]:
#회귀모델 => intercept 절편, coef 기울기
print(modelLR.intercept_)
coef = pd.Series(data=modelLR.coef_[0],index=X_train_fin.columns)
print(coef.sort_values())

[3290.63469634]
species_Chinstrap   -476.269279
sex_FEMALE          -196.365752
species_Adelie      -182.739796
island_Dream         -38.144596
island_Torgersen       3.276234
island_Biscoe         34.868362
sex_MALE             196.365752
bill_depth_mm        334.289723
bill_length_mm       650.221101
species_Gentoo       659.009076
flipper_length_mm    884.886045
dtype: float64

In [22]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_val,y_val_pred)
rmse = mean_squared_error(y_val,y_val_pred,squared=False)

print('MSE :',mse);print('RMSE : ',rmse)

MSE : 44290357867.12069
RMSE :  210452.74497406938

In [23]:
y_pred = modelLR.predict(X_test_fin)
print(y_pred)

[[209619.55770686]
 [233455.21370738]
 [206805.7591768 ]
 [200866.05155605]
 [221131.73031858]
 [209926.09015662]
 [199935.30084224]
 [204628.18495604]
 [211360.88024106]
 [205511.63374481]
 [197054.50841796]
 [238645.07199994]
 [205460.10998602]
 [215891.43913112]
 [195146.77388601]
 [218487.24479619]
 [229045.27182706]
 [215430.16442501]
 [210850.47394305]
 [197676.28287214]
 [230243.78961063]
 [212179.43642789]
 [252140.77113119]
 [224548.06205551]
 [232718.96360199]
 [238776.95205473]
 [239092.22129563]
 [213728.28992685]
 [207713.70580672]
 [209092.05110595]
 [211964.03895901]
 [200393.47876328]
 [210383.05061733]
 [221000.51240097]
 [195641.4400168 ]
 [203003.01716288]
 [192393.05122825]
 [196571.65193397]
 [208183.88149925]
 [235608.84794565]
 [201992.94588241]
 [242022.31668396]
 [232840.90147555]
 [226312.32664159]
 [247965.18096655]
 [198579.87512582]
 [227515.49145917]
 [194742.51480556]
 [235125.87257738]
 [211619.65992453]
 [224327.57222803]
 [224361.74613449]
 [210658.73676246]
 [193383.17042788]
 [194401.17455786]
 [223825.57188628]
 [231494.6082221 ]
 [221363.38573019]
 [209371.61470655]
 [203875.94298387]
 [191014.70099568]
 [230108.13701535]
 [202627.37733698]
 [230953.42444711]
 [215439.95602921]
 [208961.99326743]
 [237771.86309941]
 [201270.58063657]
 [225816.24898322]
 [218544.16055961]
 [205840.26883454]
 [196903.35987937]
 [224274.97219631]
 [190476.56283987]
 [232105.23071039]
 [220679.07351933]
 [235189.29222698]
 [193937.86373463]
 [202060.452346  ]
 [227085.09804812]
 [202579.98070814]
 [247264.11287105]
 [208522.5547343 ]
 [229249.33660479]
 [223649.0008947 ]
 [199003.99802468]
 [245664.64575192]
 [215158.03141569]
 [203541.38869267]
 [225735.21592258]
 [206870.64533737]
 [217521.32569072]
 [217442.48650111]
 [222156.17105856]
 [236481.49558045]
 [210506.04621222]
 [229103.14893149]
 [207688.70952486]
 [227351.35612939]
 [232581.57604365]
 [207851.00902012]]

In [27]:
pd.DataFrame({'body_mass_g':y_pred[:,0]}).to_csv('/peguinsresult',index=False)